.DS_Store
.netrwbook
.netrwhist*
.zcompdump

local*
modules.local.mk

nvim/autoload

git/config.local

Brewfile.lock.json
Brewfile.linux.lock.json

weechat/logs/
weechat/weechat.log
weechat/sec.conf

helm/repositories*

fzf/fzf.zsh
fzf/fzf.bash
fzf/fzf/

packer_compiled.lua
