.DS_Store
.netrwbook
.netrwhist*
.zcompdump

nvim/autoload

git/config.local
zsh/local.zsh

Brewfile.lock.json
Brewfile.linux.lock.json

weechat/logs/
weechat/weechat.log
weechat/sec.conf

helm/repositories*

fzf/fzf.zsh
fzf/fzf.bash