[core]
	excludesfile = /Users/kevintucker/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = kwtucker
	email = kwtucker4@gmail.com 
[alias]
	pt = !git tag -l | xargs git tag -d && git fetch -t
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[url "git@bitbucket.org:"]
	insteadOf = https://bitbucket.org/
[url "git@github.comcast.com:"]
	insteadOf = https://github.comcast.com/
[url "git@github.com:"]
	insteadOf = https://github.com/
